<div class="container">
  <div class="page-header">
    <h1>About Altcoinchain</h1>
  </div>
  <h3>Traditional Disclaimer</h3>
  <p>By using the pool you accept all possible risks related to experimental software usage.</p>
  <h3>Details</h3>
  <p>
    <ul>
      <li>Altcoin block explorer <a href="http://node-sub.network">here.</a></li>
      <li>Altcoin network stats page <a href="http://node-sub.network">here.</a></li>
      <li>Altcoin discord channel is <a href="https://discord.gg/Bkky5TufXt">here.</a></li>
      <li>Altcoin github is <a href="https://github.com/Altcoinchain">here.</a></li>
      <li>Altcoin information website is<a href="https://altcoinchain.org</li>
      <li>You can access your ALT with Metamask - switch the rpc to one of the below</li>
      <li>UPDATED RPCs: http://72.137.255.180:8645 & http://62.72.177.111:8145</li>
    </ul>
  </p>
</div>
